// подвал сайта

@import "_base.scss";
.footer{
    margin: auto;
    margin-bottom: -100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    &__list{
        @include flexbox-content;
        gap: 10vw;
        align-self: center;
        font-size: 0.7rem;
        padding: 20px;
    }
    hr{
        border-color: gray;
    }
}