// основная часть сайта

@import "_base.scss";
.main{
    margin: 0 12% 7% 12%;
    .title{
        text-align: left;
        font-size: 1.6rem;
    }
    p{
        text-indent: 1.5em;
    }
    ::selection {
        color: black;
        background-color: #f2f2f2;
    }
}
#main__index{
    text-align: center;
    margin: 0 25% 7% 25%;
    font-size: 1.3em;
    .title{
        text-align: center;
        animation-duration: 2s;
        animation-name: slidein;
    }
    p{
        text-indent: 1.5em;
    }
    ::selection {
        color: black;
        background-color: #f2f2f2;
    }
}